<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Admin/UserDiagnostics">
        <i class="bi bi-tools"></i> User Diagnostics
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Admin/AdminDiagnostics">
        <i class="bi bi-shield-lock"></i> Admin Diagnostics
    </a>
</li>
